<div class="col-md-8 col-md-offset-2 col-xs-12">
    <h1 id="ijzersterk">DSVK IJzersterk</h1>

    <p>DSKV IJzersterk was created in 2015 and made official
    in 2016 with the following goals:
    <ol>
        <li>To share reliable and trustworthy information about
    strength training in general.</li>
        <li>To share knowledge and expertise between athletes
    of different disciplines.</li>
        <li>To participate in competitions together.</li>
        <li>To give seminars and trainings.</li>
        <li>And most of all: to train together and to motivate
    each other in accomplishing personal goal(s).</li>
    </ol>
    These points are what we offer to you when you <a href="#/newmember">join</a>
    the association. As an IJzersterk member, you will have
    access to the VKR every Saturday from 13.00 to 15.00
    and weekdays from 13.00-15.0, where we can help you
    with technique and other issues.</p>
    <p>The sports that are practised within the association are powerlifting, Olympic weightlifting and strongman.</p>

    <h1 id="coaching">Coaching</h1>
    <p>
    The current coaches are:
        <ul>
            <li>Ruud Kassing (powerlifting)</li>
            <li>Joey Ma (powerlifting)</li>
            <li>Fabbio Hu (powerlifting)</li>
            <li>Jip Buwalda (general strength)</li>
            <li>San Kilkis (Olympic weightlifting)</li>
        </ul>
    Through trial and error, we have built up
    a huge amount of experience over the years. Besides
    lifting, we are also knowledgeable about nutrition,
    programming and competition preparation.
    </p><p>
    When you are a member of the association you can be
    trained by one of our coaches. If you are in need of
    instructions for a certain lift you can contact one of the
    coaches. For help with programming, nutrition and or
    competition preparation, you can contact us by e-mail,
    whatsapp or poke us in the gym for help.
    So make sure to use our knowledge!</p>
</div>
