<div class="col-md-8 col-md-offset-2 col-xs-12" id="board">
    <h1>Current board</h1>
        <div class="subheader">
            <a class="zocial email icon" href="mailto:voorzitter@ijzersterkdelft.nl"></a>
            <a class="zocial instagram icon" href="https://www.instagram.com/kassingcouch/"></a>
            Ruud Kassing: President
        </div>
        <img src="img/board2016/fotoruud.jpg"/>
        <p>
            Strength sports have been a big part of my life: my grandpa got me excited with some small dumbells and ab exercises when I was 13. The moment I turned 16 I went to the gym and I've been hooked ever since. After a few years of mostly fitness training I started to focus on powerlifting in September 2014, at age 21. The powerlifting competitions were very friendly, open and motivating, something I missed in my everyday individual training at the gym. Powerlifting gave me the motivation to start IJzersterk in 2014: with the goal to train, compete and have fun together and transform this individual sport into a more social one. I think we certainly achieved that, as we now have over 40 active members who compete both Nationally and Internationally and also organize our own strength events.
        </p>
        <div class="subheader">
            <a class="zocial email icon" href="mailto:secretaris@ijzersterkdelft.nl"></a>
            <a class="zocial instagram icon" href="https://www.instagram.com/faabbiohu/"></a>
            Fabbio Hu: Secretary
        </div>
        <img src="img/board2016/fotofabbio.png"/>
        <p>
            I joined IJzersterk in 2015 when I accidentally encountered them in the VKR. My plan for that day was to lift as much weight as possible on the sumo deadlift. They helped me out tremendously, embraced me and aspired me to compete in powerlifting. Nowadays it is difficult to ignore the presence of IJzersterk in the gym, it has grown into an active association full of motivated and passionate lifters. I am currently trying to learn from the expertise of namely Joey and Ruud, to become as knowledgeable, as strong and as helpful as I can be. As of 2016, I was asked to help and support IJzersterk, to bring it to the next level. With dedication and passion I will, the same way IJzersterk has brought me to the next step in my life.
        </p>
        <div class="subheader">
            <a class="zocial email icon" href="mailto:penningmeester@ijzersterkdelft.nl"></a>
            <a class="zocial instagram icon" href=" https://www.instagram.com/ella_vdv/"></a>
            Ella van der Veer: Treasurer
        </div>
        <img src="img/board2016/fotoella.jpg"/>
        <p>
            Growing up, I was never a very sporty kid but when I first stepped into a gym at age 16 and touched a barbell that completely changed. Between then and now, I have explored many sides of the fitness industry starting with endurance and ending up with focusing on strength sports. Since I joined IJzersterk right at the beginning, I have not only been learning a lot about lifting techniques but I also found a group of people with the same interest in strength sports. This aspect of the association turns the individual sport into a team in which there is always someone that can help you to achieve your own goals. By becoming a board member, I hope to build a solid foundation for this young association to assure this experience to our future members.
        </p>
        <div class="subheader">
            <a class="zocial email icon" href="mailto:wedstrijdcommissaris@ijzersterkdelft.nl"></a>
            <a class="zocial instagram icon" href="https://www.instagram.com/flatbenchjoe/"></a>
            Joey Ma: Competition Commissioner
        </div>
        <img src="img/board2016/fotojoey.jpg"/>
        <p>
            I have been lifting for a long time now. Yet, my passion for powerlifting started very recently. It was last year September. Early in the morning of a Sunday, when I stepped onto the platform for the very first time. It was crowded and I knew almost nobody. I was unbelievably nervous in the moments before my first squat attempt. And the fact that the weight flew up was not even what surprised me most. But it was the encouragement and excitement of the crowd ánd fellow lifters that struck me. It was then that I realized I found the sport that truly fits me.
        </p>
        <p>
            Ever since that first meet I have fully dedicated my training to powerlifting and participated in many competitions. IJzersterk has played an integral role during this time and ultimately inspired, supported and shaped me. I want to share my enthusiasm for the sport with you by coaching and helping you become the best athlete possible!
        </p>
    <hr/>
    <h1>Board 2015-2016</h1>
        <img src="img/board-2015.jpg"/>
        <div class="subheader">Peter Evers: President</div>
        <img src="img/board2015/Peter.jpg"/>
        <p>Hello Hello,<br/>
        My name is Peter and I have joined the IJzersterk board this year. I used to be a rower but
        since 2014 I’m dedicated to POMPEN and next year I’ll be competing in Powerlift
        competitions. In about one year I’ll finish my master thesis in Computer Science to become a
        jacked nerd. I hope to inspire some people to become jacked and tanned and compete with
        me in the 120kg class!</p>
        <div class="subheader">Ruud Kassing: Secretary</div>
        <img src="img/board2015/Ruud.jpg"/>
        <p>Hey! I’ve been competing in powerlifting since September 2014 and have been going to the
        gym since I turned 17. My favorite exercise is the one that I get the most progress on,
        currently that is the squat. I’ve been helping a lot of people with compound exercises since
        2013. I’m also the nutrition and training coach for the drivers of the DUT15 and DUT16
        (Formula Student Team Delft).</p>

        <div class="subheader">Pouja Nikray: Treasurer</div>
        <img src="img/board2015/Pouja.jpg"/>
        <p>Chicken and deadlifts, probably the two things I enjoy the most. Started lifting in 2013 and
        doing competitions since 2014 in the -74kg class. Current records: 170/115/210, will definitely
        smash those records at the SAP Cup powerlifting competition this year!</p>

        <div class="subheader">Joey Ma: board member</div>
        <img class="col-xs-12" src="img/board2015/Joey.JPG"/>
        <p>I was young and foolish when I started going to the gym for fitness and later bodybuilding. It
        took me some years and several injuries to realize that strength is true manliness. Since then
        I’ve converted to the dark side of lifting (aka powerlifting). In September of 2015 I competed
        for the first time and now I’m ready to raise the bar for the junior raw -83KG on the
        Nationals in December!</p>

        <div class="subheader">Auke Piers: board member</div>
        <img src="img/board2015/Auke.jpg"/>
        <p>Hi I’m Auke, addicted to iron since around 2012. Lifting is a nice part of my life, and I try to
    combine it with all the other beautifull things life has to offer. Because I was always able to
    deadlift high numbers, I was always motivated to push it further in training. This is also why
    the deadlift is my favorite movement.</p>

        <div class="subheader">Wander van der Wal: Competition Commissioner</div>
        <img src="img/board2015/Wander.JPG"/>
        <p>Always more weight, that’s the motto, unfortunately injuries come with that. But training is
    going strong and I will soon demolish my PR’s of 170/130/220. Of which Bench Press is my
    favourite exercise. I’ve been lifting since 2013. In the coming years my goal is to break Ruud’s
    junior national record on the bench press.</p>

    <hr/>

    <h1>Board: 2014-2015</h1>
    <img src="img/board-2014.jpg"/>
    <p>In early 2013, Ruud Kassing (second from right on picture) used to train in the gym with a few good friends and they were missing a strength/fitness sports student club in Delft. We decided ‘t Pompstation (the pumpstation, 'gas station' in Dutch) would be a funny and fitting name if we would ever found one. His friends, however, lost interest in going to the gym or to compete.
    </p>
    <p> Ruud started training together with Daniel Schooneveld (most left on picture), Daniel convinced Ruud to compete at the qualification of September 2014. He loved it, the people were all very motivated and supporting, he especially enjoys the fact that you need discipline and consistency to be proficient in strength sports. Along with Pouja Nikray (most right on photo), who also competed at the qualifications, Daniel Schooneveld and Daniel Colon (an enthusiastic gym member and friend, second from left) we decided to found the club.
    </p>
    <p> We created some statutes, talked to the Sports Centre and soon decided to change the clubs name to DSKV IJzersterk, since it seemed more fitting for strength sports in general. In March 2015 we organized the Strongest Student of Delft and we were overwhelmed by the enthusiasm of the students, it was a great success. In September 2015 we accepted our first member!</p>
</div>
