<div class="col-md-8 col-md-offset-2 col-xs-12" id="board2015-2016">
    <h1>Board 2015-2016</h1>
        <img src="img/board-2015.jpg"/>
        <div class="subheader">Peter Evers: President</div>
        <img src="img/board2015/Peter.jpg"/>
        <p>Hello Hello,<br/>
        My name is Peter and I have joined the IJzersterk board this year. I used to be a rower but
        since 2014 I’m dedicated to POMPEN and next year I’ll be competing in Powerlift
        competitions. In about one year I’ll finish my master thesis in Computer Science to become a
        jacked nerd. I hope to inspire some people to become jacked and tanned and compete with
        me in the 120kg class!</p>
        <div class="subheader">Ruud Kassing: Secretary</div>
        <img src="img/board2015/Ruud.jpg"/>
        <p>Hey! I’ve been competing in powerlifting since September 2014 and have been going to the
        gym since I turned 17. My favorite exercise is the one that I get the most progress on,
        currently that is the squat. I’ve been helping a lot of people with compound exercises since
        2013. I’m also the nutrition and training coach for the drivers of the DUT15 and DUT16
        (Formula Student Team Delft).</p>

        <div class="subheader">Pouja Nikray: Treasurer</div>
        <img src="img/board2015/Pouja.jpg"/>
        <p>Chicken and deadlifts, probably the two things I enjoy the most. Started lifting in 2013 and
        doing competitions since 2014 in the -74kg class. Current records: 170/115/210, will definitely
        smash those records at the SAP Cup powerlifting competition this year!</p>

        <div class="subheader">Joey Ma: board member</div>
        <img class="col-xs-12" src="img/board2015/Joey.JPG"/>
        <p>I was young and foolish when I started going to the gym for fitness and later bodybuilding. It
        took me some years and several injuries to realize that strength is true manliness. Since then
        I’ve converted to the dark side of lifting (aka powerlifting). In September of 2015 I competed
        for the first time and now I’m ready to raise the bar for the junior raw -83KG on the
        Nationals in December!</p>

        <div class="subheader">Auke Piers: board member</div>
        <img src="img/board2015/Auke.jpg"/>
        <p>Hi I’m Auke, addicted to iron since around 2012. Lifting is a nice part of my life, and I try to
    combine it with all the other beautifull things life has to offer. Because I was always able to
    deadlift high numbers, I was always motivated to push it further in training. This is also why
    the deadlift is my favorite movement.</p>

        <div class="subheader">Wander van der Wal: Competition Commissioner</div>
        <img src="img/board2015/Wander.JPG"/>
        <p>Always more weight, that’s the motto, unfortunately injuries come with that. But training is
    going strong and I will soon demolish my PR’s of 170/130/220. Of which Bench Press is my
    favourite exercise. I’ve been lifting since 2013. In the coming years my goal is to break Ruud’s
    junior national record on the bench press.</p>
    <hr/>
</div>
