<div class="col-md-8 col-md-offset-2 col-xs-12" id="board_2014-2015">
    <h1>Board: 2014-2015</h1>
    <img src="img/board-2014.jpg"/>
    <p>In early 2013, Ruud Kassing (second from right on picture) used to train in the gym with a few good friends and they were missing a strength/fitness sports student club in Delft. We decided ‘t Pompstation (the pumpstation, 'gas station' in Dutch) would be a funny and fitting name if we would ever found one. His friends, however, lost interest in going to the gym or to compete.
    </p>
    <p> Ruud started training together with Daniel Schooneveld (most left on picture), Daniel convinced Ruud to compete at the qualification of September 2014. He loved it, the people were all very motivated and supporting, he especially enjoys the fact that you need discipline and consistency to be proficient in strength sports. Along with Pouja Nikray (most right on photo), who also competed at the qualifications, Daniel Schooneveld and Daniel Colon (an enthusiastic gym member and friend, second from left) we decided to found the club.
    </p>
    <p> We created some statutes, talked to the Sports Centre and soon decided to change the clubs name to DSKV IJzersterk, since it seemed more fitting for strength sports in general. In March 2015 we organized the Strongest Student of Delft and we were overwhelmed by the enthusiasm of the students, it was a great success. In September 2015 we accepted our first member!</p>
</div>
