<div class="col-md-9 col-md-offset-1 col-xs-12" id="events">
    {{#each this}}
        <div class="col-md-4">
            <div class="event-item">
                {{#if link}}
                    <a href="{{link}}">
                        <div class="img">
                            <img src="{{image}}">
                        </div>
                        <span class="title">{{title}}</span><br/>
                    </a>
                {{^}}
                    <div class="img">
                        <img src="{{image}}">
                    </div>
                    <span class="title">{{title}}</span><br/>
                {{/if}}
                <span class="date">{{timeTo}}</span><br/>
                <span class="date">{{readableDate}}</span><br/>
            </div>
        </div>
    {{/each}}
</div>
