<div class="col-md-9 col-md-offset-1 col-xs-12" id="events">
    {{#each this}}
        <div class="col-md-4">
            <div class="event-item">
                <div class="img">
                    {{#if link}}
                    <a href="{{link}}">
                        <img src="{{image}}">
                        <span class="title">{{title}}</span><br/>
                    </a>
                    {{^}}
                    <img src="{{image}}">
                    <span class="title">{{title}}</span><br/>
                    {{/if}}
                </div>
                <span class="date">{{timeTo}}</span><br/>
                <span class="date">{{readableDate}}</span><br/>
            </div>
        </div>
    {{/each}}
</div>
