<footer class="footer">
    <div class="container">
        <p class="pull-left">
            <i class="fa fa-copyright"></i> 2015 - DSVK IJzersterk<br/>Raising the bar
        </p>
        <p class="pull-right non-mobile-float">
            Find us on <a href="https://www.facebook.com/ijzersterkdelft"><i class="fa fa-facebook-official"></i></a><br/>
            Contact us by <a href="mailto:dskv.ijzersterk@gmail.com"><i class="fa fa-envelope-o"></i></a><br/>
            Web design by <a href="http://www.zokodesign.com"><img src="img/zoko_logo_wit.svg"/></a>
        </p>
    </div>
</footer>
