<div class="col-md-6 col-md-offset-2 main">
    <h1>DSKV IJzersterk</h1>
    <span class="description">The Delft student strength-sport association</span>
    <div class="row">
        <img class="col-md-12 col-xs-12"
            src="http://www.ijzersterkdelft.nl/images/150322/20150322-171822.jpg"/>
    </div>
    <p>
        <span class="emp-red">Raising the bar</span>, that is our motto. We lift together, we yell at each other and we motivate each other to achieve that personal record on the squat, push ourselves just a little harder or just to become healthy.
    </p>
    <p>At DSKV IJzersterk you can find other people who are interested in: eating and becoming healthy, powerlifting, olympic lifting and or strongman. People whom you can ask for guidance or just to train with. Interested? Look at the <a href="#/newmember">new member</a> page to find out how you can join!
    </p>
</div>
<div class="col-md-3 col-xs-12 sidebar">
    <div class="block">
        <h4>News</h4>
        <ul>
            <li><a href="#/blogs#clinic-2015">IJzersterk Clinic</a></li>
            <li><a href="#/blogs#website-live">New website is finally live</a></li>
            <li><a href="#/blogs#newsletter2">Newsletter #2</a></li>
        </ul>
    </div>
    <div class="block">
        <h4>Blogs</h4>
        <ul>
            <li>
                <a href="#/blogs#blog-gear">
                    Lifting gear - by Auke Piers
                </a>
            </li>
            <li>
                <a href="#/blogs#blog-programming">
                    Programming - by Daniël Schooneveld
                </a>
            </li>
            <li>
                <a href="#/blogs#first-meet-joey">
                    My first powerlifting meet - by Joey
                </a>
            </li>
        </ul>
    </div>
    <div class="block">
        <h4>Events</h4>
        <span class="soon">No upcoming events</span>
    </div>
</div>

