<div class="col-md-8 col-md-offset-2 col-xs-12">
    <h1>Joining the association</h1>
    <p>
        We are currently accepting new members to the
        association. Fill out
        <a href="https://docs.google.com/forms/d/e/1FAIpQLSe8RrC9oD519ipZujP-ayV2YPqinpKY-5PXQ6K-Pw5uGfs1YA/viewform">the google form</a> and you will be
        send an email to meet up with one of the board
        members. Follow us on <a href="https://www.facebook.com/ijzersterkdelft">Facebook</a> and our <a href="https://www.youtube.com/channel/UCU2lMvyuV272KSnNmr1hVYg">YouTube channel</a> to stay up to date!</p>
</div>
