<div class="col-md-3 col-xs-12 sidebar">
    <div class="block">
        <h4>News</h4>
        <ul>
            <li><a href="#">IJzersterk Clinic</a></li>
            <li><a href="#">New website is finally live</a></li>
            <li><a href="#">Newsletter #2</a></li>
        </ul>
    </div>
    <div class="block">
        <h4>Blogs</h4>
        <ul>
            <li>
                <a href="#">
                    Lifting gear - by Auke Piers
                </a>
            </li>
            <li>
                <a href="#">
                    Programming - by Daniël Schooneveld
                </a>
            </li>
            <li>
                <a href="#">
                    My first powerlifting meet - by Joey
                </a>
            </li>
        </ul>
    </div>
    <div class="block">
        <h4>Events</h4>
        <span class="soon">No upcoming events</span>
    </div>
</div>
